    <nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark justify-content-center">
        <a class="navbar-brand mr-0" href="{{ path('home') }}"><img src="/assets/images/sensiotv-icon.png" alt="SensioTV Brand Icon"> <span class="color-green">TV+</span></a>
        <button class="navbar-toggler ml-5" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="collapsingNavbar">
            <ul class="navbar-nav mx-auto text-center">
                <li class="nav-item {% if app.request.attributes.get('_route') == 'home' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('home') }}" title="Back to the homepage">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.attributes.get('_route') == 'movie_top_rated' %} active {% endif %}" href="{{ path('movie_top_rated') }}" title="Get all top rated movies">Top Rated</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.attributes.get('_route') == 'movie_genres' %} active {% endif %}" href="{{ path('movie_genres') }}" title="Find your movie by genre">Browse By Genre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.attributes.get('_route') == 'movie_latest' %} active {% endif %}" href="{{ path('movie_latest') }}" title="Get all new movies">Latest</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact.html" title="You need some help ? Contact us !">Help Center</a>
                </li>
            </ul>
            <ul class="navbar-nav text-center">
                {% if app.user %}
                <li class="nav-item active"><a class="nav-link" href="/user-cart.html" title="Register or log in"><i class="fas fa-shopping-bag"></i></a></li>
                    {% if app.user.lastLoginAt %}
                        <li class="nav-item active" style="color: #fff;">
                        Last connection: {{ app.user.lastLoginAt|date('d-m-Y') }}
                        </li>
                    {% endif %}
                {% else %}
                <li class="nav-item active"><a class="nav-link" href="{{ path('app_login') }}" title="Register or log in"><i class="fas fa-user"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
